.container {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0px 0px 20px 0px #2971fb26;
}

.table {
  font-size: 1.4rem;
  color: #322f35;
  margin-top: 1.5rem;
  margin-left: clamp(0px, calc(100% - 345px), 3.5rem);
  margin-bottom: 1rem;
}

.header {
  font-size: 1.7rem;
  column-gap: 0.7rem;
}

.header b {
  color: var(--secondary);
}

.header > img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .header {
    font-size: 1.5rem;
    column-gap: 0.5rem;
  }

  .header > img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1023px) {
  .header {
    font-size: 1.2rem;
  }

  .header > img {
    width: 33px;
    height: 33px;
  }

  .table {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: clamp(0px, calc(100% - 252px), 1.7rem);
  }
}
