.header {
  font-size: 2.15rem;
  text-align: center;
}

.separator {
  width: 40%;
  height: 3px;
  background-color: #ffbf91;
  border-radius: 100px;
  margin-top: 0.7rem;
  margin-inline: auto;
}

.separator::before,
.separator::after {
  display: block;
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  opacity: 0.2;
  border-radius: 100px;
  background-color: #ffbf91;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

.container {
  display: grid;
  grid-template-columns: minmax(min-content, 320px) 320px max-content;
  align-items: center;
  margin: auto;
}

.imageShadow {
  filter: drop-shadow(3px 3px 5px rgba(15, 8, 59, 0.4));
}

.arrow1 {
  position: absolute;
  z-index: 2;
  top: 84px;
  left: 25px;
  transform: translateX(-100%);
  filter: invert(28%) sepia(47%) saturate(2689%) hue-rotate(210deg)
    brightness(93%) contrast(83%);
}

.arrow2 {
  position: absolute;
  z-index: 2;
  top: 180px;
  right: 48px;
  transform: scaleX(-1) translateX(-100%);
  filter: invert(61%) sepia(84%) saturate(4334%) hue-rotate(334deg)
    brightness(103%) contrast(101%);
}

.list > li {
  margin-top: 5px;
  margin-inline-start: 20px;
  list-style: disc;
}

.backgroundImage {
  z-index: -1;
  position: absolute;
  opacity: 0.6;
  filter: invert(89%) sepia(9%) saturate(950%) hue-rotate(49deg) brightness(88%)
    contrast(85%);
}

.position1 {
  scale: 1.8;
  left: calc(-1 * var(--padding-inline));
  bottom: 180px;
}

.position2 {
  top: 0px;
  right: calc(-1.2 * var(--padding-inline));
}

@media (max-width: 1024px) {
  .position1 {
    top: 45%;
    bottom: auto;
  }

  .arrow1,
  .arrow2,
  .position2 {
    display: none;
  }

  .header {
    font-size: 1.7rem;
  }

  .separator {
    width: 60%;
  }

  .separator::before,
  .separator::after {
    width: 10%;
  }

  .container {
    gap: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .backgroundImage {
    scale: 1;
    top: 46%;
    left: -30px;
    bottom: auto;
  }
}
