.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: center;
  row-gap: 50px;
}

.image {
  margin-top: max(-10vw, -9rem);
  filter: brightness(1.1);
}

.accordionContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-column: span 2;
  gap: 2rem;
}

@media (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
  }

  .image {
    margin-top: 0;
    grid-row: 3;
  }
}

@media (max-width: 700px) {
  .container {
    grid-column: full-width;
  }

  .textContainer {
    padding-inline: 20px;
  }
}
