.subContainer {
  position: static;
  max-width: min(50%, 500px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-row: 1;
}

.hero {
  width: 40%;
  min-width: 300px;
  max-width: 550px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
  justify-self: end;
  grid-row: 1;
}

.backgroundImage {
  z-index: -1;
  position: absolute;
  bottom: 30px;
  right: 10px;
  scale: 1.1;
  filter: invert(89%) sepia(9%) saturate(950%) hue-rotate(49deg) brightness(88%)
    contrast(85%);
}

@media (max-width: 800px) {
  .container {
    padding-bottom: 0;
    row-gap: 50px;
  }

  .subContainer {
    position: relative;
    max-width: 100%;
  }

  .backgroundImage {
    scale: 0.85;
    bottom: -45px;
    right: -10px;
    transform: scaleX(-1);
  }

  .hero {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    grid-row: 2;
    grid-column: full-width;
  }
}
