.subContainer {
  max-width: min(50%, 500px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-row: 1;
}

.hero {
  width: 40%;
  min-width: 300px;
  max-width: 550px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
  justify-self: end;
  grid-row: 1;
}

@media (max-width: 800px) {
  .container {
    padding-bottom: 0;
    row-gap: 50px;
  }

  .subContainer {
    max-width: 100%;
  }

  .hero {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    grid-row: 2;
    grid-column: full-width;
  }
}
