.inspiration {
  background-color: var(--blue-background);
  padding: 100px 20px;
  color: var(--cta);
}

.backgroundImage {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: calc(var(--padding-inline) * -2);
  opacity: 0.6;
  filter: invert(77%) sepia(45%) saturate(168%) hue-rotate(170deg)
    brightness(104%) contrast(92%);
}

@media (max-width: 800px) {
  .backgroundImage {
    left: -120px;
    top: -95px;
  }
}
